project:
  type: website
  output-dir: docs

website:
  title: "Johnny Chen - MUSA 5080 Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: lab_0/lab0_template.qmd
        text: Lab 0
format:
  html:
    theme: cosmo
    toc: true
    code-fold: true

execute:
  freeze: auto
